* {
    margin: 0 auto;
    font-family: 'Do Hyeon', sans-serif;
}
#title {
    border: 2px solid black;
    background-color: red;
    padding-left: 30%;
    font-size: 50;
}
nav {
    border: 2px solid black;
    width: 99.7%;
    margin-top: 2px;
    background-color: blue;
    font-size: 20;
}
#home {
    text-decoration: none;
    padding-left: 25%;
    color: yellow;
}
#moreInfo {
    text-decoration: none;
    padding-left: 35%;
    color: rgb(34, 190, 34);
}
#pokeId {
    flex-wrap: space-evenly;
}

@media screen and (max-width: 512px) {
    #title {
        background-color: gold;
    }
    #search {
        position: absolute; 
        margin-top: 30%;
        margin-left: 38%;
}
    nav {
        background-color: silver;
}
    #home {
        color: black;
    }

    #moreInfo {
        padding-left: 20%;
        color: black;
    }
}